body{
    
    background-color: #b8e994;
}
#imagecss{
    padding: 10px;
    border: 2px solid black;
    border-radius: 5px;
    width:30%;
}
#headerSection{
    padding: 5Px;
}
#headerSection h1{
    font-family: cursive;
}

input{
    padding: 10px;
    border-radius: 5px;
}
#dropbox{
    padding: 10px;
    border-radius: 5px;
    width: 10%;
}
#loginbtn{
    padding: 5px;
    border-radius: 5px; 
    font-size: 15px;
    background-color: #3498db; 
    color:white;
    
}